@font-face {
  font-family: switzer;
  src: url(../assets/fonts/Switzer-Regular.otf);
}

@font-face {
  font-family: switzerBold;
  src: url(../assets/fonts/Switzer-Bold.otf);
}

@font-face {
  font-family: helvectia;
  src: url(../assets/fonts/HelveticaNeueRoman.otf);
}

@font-face {
  font-family: helvectiaBold;
  src: url(../assets/fonts/HelveticaNeueBold.otf);
}

/* Logo and Links */
.logo {
  position: absolute;
  top: 6.6%;
  left: 20px;
  width: 80px;
  height: auto;
  opacity: 80%;
  transition: opacity 0.15s ease-in-out;
}

.discordLogo {
  position: absolute;
  top: 7.6%;
  right: 20px;
  width: 24px;
  height: auto;
  opacity: 80%;
  transition: opacity 0.15s ease-in-out;
}

.docs {
  position: absolute;
  top: 6.6%;
  right: 60px;
  color: white;
  text-decoration: none;
  font-family: switzer;
  font-size: 18px;
  opacity: 80%;
  transition: opacity 0.15s ease-in-out;
}

/* Centered Title */
.centerDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
}

h1 {
  font-family: switzerBold;
  font-size: 48px;
  background-image: linear-gradient(180deg, rgba(31,44,164,1) 0%, rgba(65,65,232,1) 49%, rgb(81, 69, 255) 67%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  margin: 0;
}

/* Text Below Title */
.textDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: switzer;
  font-size: 24px;
  margin-top: -30px;
}

/* Box Container */
.boxContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

/* Pricing Boxes */
.boxOne, .boxTwo {
  background-color: #E5E1FF;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  margin: 20px 0;
  border-radius: 20px;
  box-sizing: border-box;
  box-shadow: 0 0 0 1px rgb(167, 188, 255);
  transition: all 0.12s ease-in-out;
}

.boxOne:hover, .boxTwo:hover {
  box-shadow: 0 0 0 3px rgb(167, 188, 255);
  background-color: #ced9ff;
  transform: translateY(-10px);
}

h2 {
  color: #3342E7;
  font-size: 24px;
  font-family: switzerBold;
  margin: 0 0 10px 0;
}

.price {
  display: flex;
  align-items: baseline;
  font-family: helvectiaBold;
}

.price h3 {
  font-size: 36px;
  margin-right: 5px;
}

h4 {
  opacity: 50%;
  font-size: 18px;
  margin: 0;
}

.features {
  color: black;
  opacity: 70%;
  font-family: helvectia;
  font-size: 18px;
}

/* Button */
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

button {
  border-radius: 10px;
  background-color: #E5E1FF;
  color: black;
  width: 90%;
  max-width: 400px;
  height: 60px;
  border: none;
  cursor: pointer;
  text-align: center;
  font-family: helvectia;
  font-size: 20px;
  transition: all 0.15s ease-in-out;
}

button:hover {
  background-color: rgb(88, 101, 242);
  box-shadow: 0px 0px 50px 1px rgba(88, 101, 242, 0.5);
  transform: translateY(-10px);
}

/* Media Queries */
@media (min-width: 768px) {
  /* Desktop View */
  .logo {
    top: 6.6%;
    left: 144px;
    width: 103px;
    height: auto;
  }

  .discordLogo {
    top: 7.6%;
    right: 240px;
  }

  .docs {
    top: 6.6%;
    right: 145px;
    font-size: 24px;
  }

  .centerDiv h1 {
    font-size: 100px;
  }

  .textDiv {
    font-size: 36px;
    margin-top: -130px;
  }

  .boxContainer {
    flex-direction: row;
  }

  .boxOne, .boxTwo {
    width: 405px;
    margin: 0 50px;
  }

  .buttonContainer button {
    width: 1000px;
    height: 105px;
    font-size: 32px;
  }
}
